<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Login - Monitoring App</title>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <center>
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </center>
</div>
       </div>
    {% endfor %}
    
    
    
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(static/bg.jpg) no-repeat center;
  background-size: cover;
  font-family: sans-serif;
}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #ff652f;
  font-size: .8rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-pw {
  color: inherit;
}

#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 30px;
  text-align: center;
}

.error {
  position: absolute;
  
  
  left: 0;
  bottom: 15.5rem;
  width:100%;
  height: 30px;
  text-align: center;
}
</style>

</head>
<body>


  <div class="login-wrapper">
    
    <form class="form" action="/validateLogin" method="post">
      <img src="static/avatar.png" alt="Avatar">
      <h2>Login as: 
      <select name="loginoption" id="loginoption" >
								
								<option value="admin">Administrator</option>
								<option value="user">User</option> </select>
      </h2>
      
      <div class="input-group">
        <input type="text" name="user_name" id="user_name" value="{{request.form.user_name}}" class="form-control" placeholder="User name" required autofocus>
        <label for="loginUser">Username</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id="password" value="{{request.form.password}}" class="form-control" placeholder="Password" required>
        <label for="loginPassword">Password</label>
      </div>
  
      <input type="submit" value="Login" class="submit-btn">
     
      <!-- <a href="#forgot-pw" class="forgot-pw">Forgot Password?</a> -->
    </form>
    
      		<div class = "error">
				{% if error %}
				<p style="color:red"><strong>Error: </strong>{{ error }}</p>
			  {% endif %}
			 

		    </div>
    
      </div>
<br> </br>


		
	
  
    

    <div class="footer">
        <h6>&copy; Copyright 2021 by Team Kafka-Python</h6>
    </div>

<!--
    <div id="forgot-pw">
      <form action="" class="form">
        <a href="#" class="close">&times;</a>
        <h2>Reset Password</h2>
        <div class="input-group">
          <input type="email" name="email" id="email" required>
          <label for="email">Email</label>
        </div>
        <input type="submit" value="Submit" class="submit-btn">
      </form>
    </div>
-->

</body>
</html>
