<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Monitoring Application</title>

<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  width: 180px;
  height: 100%;
  background: #1b1b1b;
}

.sidebar.show{
  left: 0px;
}

.sidebar .text{
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a:hover{
  background: #1e1e1e;
}

nav ul ul{
  position: static;
  display: none;
}

nav ul .feat-show.show{
  display: block;
}

nav ul .serv-show.show1{
  display: block;
}

nav ul ul li{
  line-height: 42px;
  border-top: none;
}

nav ul ul li a{
  font-size: 14px;
  color: #e6e6e6;
  padding-left: 30px;
}

nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}

nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}

.content{
  color: #212123;
  margin-left: 15%;
  padding: 10px 20px;
}

.content .header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.content .pbutton{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.content .pbutton:active,
.content .pbutton:hover{
  outline: 0;
}

.content .pbutton span{
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.content .pbutton:hover span{
  background: none;
}

.footer {
  position:fixed;
  bottom:0;
  left:180px;
  width:87%;
  height: 30px;
  text-align: center;
}
</style>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"> </script>

<script>
window.onload = function () {
        var dps = [ {% for key, value in data.items() %}
                     { label: "{{key}}", y: {{value}} },
                    {% endfor %}
        ];

	var chart = new CanvasJS.Chart("chartContainerA",{
                exportEnabled: true,
		axisX: {
			title:"Product Name"
		},
		axisY: {
			title:"Quantity",
			includeZero: true
		},
		data: [{
			type: "column",
                        dataPoints: dps
		}]
	});
        chart.render();

        document.getElementById("downloadCSV").addEventListener("click", function(){
           downloadCSV({filename: "chart-data(cartrate).csv", chart: chart})
        });

        var updateChart = function () {
            dps = chart.options.data[0].dataPoints;
            chart.options.data[0].dataPoints = [];

            chart.options.data[0].dataPoints.push(
                        {% for key, value in data.items() %}
                         { label: "{{key}}", y: {{value}} },
                        {% endfor %}
            );
            chart.render();
        };
	setInterval(function() {updateChart()}, 1000);
}

function convertChartDataToCSV(args) {
  var result, ctr, keys, columnDelimiter, lineDelimiter, data;

  data = args.data || null;
  if (data == null || !data.length) {
    return null;
  }

  columnDelimiter = args.columnDelimiter || ',';
  lineDelimiter = args.lineDelimiter || '\n';

  keys = Object.keys(data[0]);

  result = 'Product Name';
  result += columnDelimiter;
  result += 'Cart Rate';
  result += columnDelimiter;
  result += 'Index';
  result += lineDelimiter;

  data.forEach(function (item) {
    ctr = 0;
    keys.forEach(function (key) {
      if (ctr > 0) result += columnDelimiter;
      result += item[key];
      ctr++;
    });
    result += lineDelimiter;
  });
  return result;
}

function downloadCSV(args) {
  var data, filename, link;
  var csv = "";
  for(var i = 0; i < args.chart.options.data.length; i++) {
    csv += convertChartDataToCSV({
      data: args.chart.options.data[i].dataPoints
    });
  }

  if (csv == null) return;

  filename = args.filename || 'chart-data.csv';

  if (!csv.match(/^data:text\/csv/i)) {
    csv = 'data:text/csv;charset=utf-8,' + csv;
  }

  data = encodeURI(csv);
  link = document.createElement('a');
  link.setAttribute('href', data);
  link.setAttribute('download', filename);
  document.body.appendChild(link);
  link.click(); 
  document.body.removeChild(link);   
}
</script>

</head>
<body>
    
		<nav class="sidebar">
      <div class="text">Monitor App</div>
      <ul>
      <li class="active"><a href="{{url_for('logout')}}">LOGOUT </a></li>
        <li class="active"><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
        <li>
          <a href="{{ url_for('activitylog')}}" class="feat-btn">Activity log
            <span class="fas fa-caret-down first"></span>
          </a>
          <li><a href="{{ url_for('cart_rate') }}">  Item to Cart rate</a> </li>
          <li><a href="{{ url_for('notification') }}">Notification (<label id='notificationcount'> </label>) </li>
          <ul class="feat-show">
            <li><a href="#">Engagement Rate</a></li>
            <li><a href="#">Search Rate</a></li>
            
            
          </ul>
        </li>
			<li class = "active"><a href="{{url_for('cart_rate_chart')}}">Cart Rate Chart</a></li>

		</ul>
		</nav>
    <div class="content">
      <div class="header">Data Stream</div>
      <h3 style="text-align: center;padding-bottom: 20px;">Cart Rate</h3>
      <!-- 
      <select class="dropdown" id="dd" style="margin-bottom: 20px;">
          <option value="" selected="selected">Select DateTime</option>
      </select>
      -->
      <div id="chartContainerA" style="height: 360px;"></div>
      <button class="pbutton" id="downloadCSV" role="button" style="margin-top: 5px;"><span class="text">Download Chart Data as CSV</span></button>
    </div>
    <div class="footer">
        <h6>&copy; Copyright 2021 by Team Kafka-Python</h6>
    </div>

    <script>
      $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
      });
      $('nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
      
              $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_notification() {
      $.get('/notification_unread', function (dat) {
        $("#notificationcount").text(dat['y']);
      });
      var interval = setTimeout(update_notification, 3000);
    });
  });
    </script>
    
    

</body>
</html>
