<!DOCTYPE html>
<html>
	<head>
	<!-- Scripts -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- get flash -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <center>
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </center>
</div>
       </div>
    {% endfor %}
   {% endif %}
{% endwith %}   
{% block body %}{% endblock %}
<!-- CSS -->    
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  width: 180px;
  height: 100%;
  background: #1b1b1b;
}

.sidebar.show{
  left: 0px;
}

.sidebar .text{
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a:hover{
  background: #1e1e1e;
}

nav ul ul{
  position: static;
  display: none;
}

nav ul .feat-show.show{
  display: block;
}

nav ul .serv-show.show1{
  display: block;
}

nav ul ul li{
  line-height: 42px;
  border-top: none;
}

nav ul ul li a{
  font-size: 14px;
  color: #e6e6e6;
  padding-left: 30px;
}

nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}

nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}

.content{
  float:center;
	width:40%;
	margin:auto;
	justify-content:center;
}

.content .header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

body 
{
	background: #1b1b1b;
}
td
{
	padding: 0 15px;
}
h1 , p 
{
	color: #FFFFFF;
}
.footer {
  position:fixed;
  bottom:0;
  left:180px;
  width:87%;
  height: 30px;
  text-align: center;
}
.bn632-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 25px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }
</style>
		<title>Monitor activities</title>
	</head>
	<body>
	
	

		<nav class="sidebar">
      <div class="text">Monitor App</div>
      <ul>
      <li class="active"><a href="{{ url_for('logout')}}">LOGOUT</a></li>
        <li class="active"><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
        <li>
          <a href="{{ url_for('activitylog')}}" class="feat-btn">Activity log
            <span class="fas fa-caret-down first"></span>
          </a>
          <li><a href="{{ url_for('cart_rate') }}">  Item to Cart rate</a> </li>
          <li><a href="{{ url_for('notification') }}">Notification (<label id='notificationcount'> </label>) </li>
          <ul class="feat-show">
            <li><a href="#">Engagement Rate</a></li>
            <li><a href="#">Search Rate</a></li>
            
            
          </ul>
        </li>

			<li class = "active"><a href="{{url_for('cart_rate_chart')}}">Cart Rate Chart</a></li>

		</ul>
		</nav>
		
		<div class="content">
			<table style="text-align:center">
				<tr>
					<th colspan="2">
						<h1>Monitor topics</h1>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					<td>
						<p> Kafka data pipeline:  <a style="color:lime"> {{server_status}} </a> </p>

					</td>
					<td>

{% if  'e_status' == 'Online' %}
						<p> E-Com server status:  <a style="color:lime" id ='server'> 0 </a></p>
						 {% else %}
						  <p> E-Com server status:  <a style ="color:red" id ='server'> </p>
  {% endif %}
					</td>
				</tr>
				<tr>
				<td>
				<p> Total user registeration: <a style ="color:lime" id='totaluser' > 0  </a></p>
				
					<br>
					<br>
				</td>
				
				
				
				<td>
			
				<p> Users online:  <a style="color:lime" id = 'totalonline'> 0 </a></p>
						<br>
						<br>
				</td>
				</tr>
				
				<tr>
					<td colspan="2">
						<h3 style="color:white">  Choose a topic to monitor </h3>
						<br>
					</td>
				</tr>
				<tr>
					<td>
						<form class="form" method="post" action = "/get_topic" > 
							<select name="topic_name" id="topic_name" style="width:100%; text-align:center">
								
								<option value="user_logon">user_logon</option>
								<option value="user_creation">user_creation</option>
								<option value="user_logout">user_logout</option>
								<option value="cart_service">cart_service</option>
								<option value="search_service">search_service</option>
								<option value="order_service">order_service</option>
					</td>
					<td>
						</select><input type="submit" value="Submit"  class="bn632-hover bn25"> 
						</form>
					</td>
				</tr>

			</table>
			
		</div>
				<div class = "Error" align = "center">
				{% if error %}
				<p style="color:red"><strong>Error: </strong>{{ error }}</p>
			  {% endif %}
		</div>

<br> <br>
   		<div class="content">
   		<table style="text-align:center">
		
		<tr>
		<td>

		
		<p> Top search today: <a id='search'> </a> (<a id='searchcount'> </a>) </p>
		</td>
		
		</tr>
		</div>


      
</body>
<script> 
  $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_values() {
      $.get('/total_reg', function (dat) {
        $("#totaluser").text(dat['total_user']);
      });
      var interval = setTimeout(update_values, 3000);
    });
  });
  
    $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_online() {
      $.get('/user_online', function (dat) {
        $("#totalonline").text(dat['online']);
      });
      var interval = setTimeout(update_online, 3000);
    });
  });
  
      $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_search() {
      $.get('/topsearch', function (dat) {
        $("#search").text(dat['max_key']);
      });
      var interval = setTimeout(update_search, 3000);
    });
  });
  
        $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_count() {
      $.get('/topsearch', function (dat) {
        $("#searchcount").text(dat['max_value']);
      });
      var interval = setTimeout(update_count, 3000);
    });
  });
  
      $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_notification() {
      $.get('/notification_unread', function (dat) {
        $("#notificationcount").text(dat['y']);
      });
      var interval = setTimeout(update_notification, 3000);
    });
  });
  
  
        $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_server() {
      $.get('/check_server', function (dat) {
        $("#server").text(dat['e_server']);
      });
      var interval = setTimeout(update_server, 3000);
    });
  });
</script>


</html>
