<html>
<head>
 <title>Monitor topics</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- get flash -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <center>
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </center>
</div>
       </div>
    {% endfor %}
   {% endif %}
{% endwith %}   
{% block body %}{% endblock %}
 <style>
.Main
{
	float:center;
	width:50%;
	margin:auto;
	justify-content:center;
}

a
{
	color:cyan;
	text-decoration: none;
	font-size:20px;
}
.Main table
{
	color:white;
	width:100%;
	text-align:center;
}
.TopicData
{
	width:100%;
	border-collapse: collapse;
}
.TopicData td , th
{
	border: 1px solid white;

}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
 </style>
 </head>
 <body style="background-color:#212123">

<a href="{{ url_for('index') }}"> < Back</a>
<div align="right">
<form class ="form" method ="post" action ="/index/monitorlog/filter"> 
  <label for="filter">Filter </label>

<select name="selectfilter" id="selectfilter">
  <option value="User_email"> User email </option>
  <option value="Date"> Date </option>
  <option value="Topic"> Topic </option>
</select>
            <input type="text" placeholder="Filter search" name="filter" value = "{{filtertext}}">

<input type="submit" value="Submit"  class="bn632-hover bn25"> 
</form>
</div>
<div class="Main">
	<table>
		<tr>
			<td>
				<h1>Monitor logs</h1>
			</td>
			
		</tr>
		
		<tr>
			<td>
				<table class="TopicData">
			<form class ="form" method ="post" action ="/index/monitorlog/filter_monthly"> 
			<p> Monthly report  
			<select value="Aug" name="selectfilter" id="selectfilter" >
			<option selected hidden>Choose here</option>
        <option value="Jan"> Jan </option>
        <option value="Feb"> Feb</option>
        <option value="March"> March </option>
        <option value="April"> April </option>
        <option value="May"> May </option>
        <option value="June"> June </option>
        <option value="July"> July </option>
        <option value="Aug"> Aug </option>
                <option value="Sep"> Sep </option>
        <option value="Oct"> Oct </option>
        <option value="Nov"> Nov </option>
        <option value="Dec"> Dec </option> 
        
      </select>
      <input type="submit" value="Submit"> 
      </p> 
			</form>
			<a href = "/index/monitorlog/sort_latest"> Sort by latest</a> 
				<a href = "/index/monitorlog/sort_old"> Sort by earliest</a> 
					<tr>
						<th>
							ID
						</th>
						<th>
							Email
						</th>
						<th>
							Event
						</th>
						<th>
							Date
						</th>
						<th>
							Time
						</th>
						<th>
							Topic
						</th>
					</tr>
					{% for i in data_dict %}
					<tr>
						<td>
							<p>{{i.ID}}</p>
						</td>
						<td>
							<p>{{i.Email}}</p>
						</td>
						<td>
							<p>{{ i.Activity}}</p>
						</td>
						<td>
							<p>{{i.Date }}</p>
						</td>
						<td>
							<p>{{i.Time }}</p>
						</td>
						<td>
							<p>{{i.Topic }}</p>
						</td>
						<td>
   <form class ="form" method="post" action="/deletelog" >
   
   <input type="hidden" name="ID" value="{{ i.ID }}"/>
   <input type ="submit" value="Remove" class ="btn btn-danger"/>
    </form>
    </td>
					</tr>
					{% endfor %}
				</table>
		
			</br>
			</br>
			</td>
		</tr>
		<tr>
			<td>
				</br>
				</br>

       
				<button class="bn30"> <a href="{{ url_for('.downloadFile') }}">  Download </a> </button>
				<br><br><br><br>
				
			</td>
		</tr>
	</table>
		  

  		

 </div>

      
</body>

</html>
