//Notification page

<html>
<head>
 <title>Notifications</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <style>
.Main
{
	float:center;
	width:50%;
	margin:auto;
	justify-content:center;
}

a
{
	color:cyan;
	text-decoration: none;
	font-size:20px;
}
.Main table
{
	color:white;
	width:100%;
	text-align:center;
}
.TopicData
{
	width:100%;
	border-collapse: collapse;
}
.TopicData td , th
{
	border: 1px solid white;

}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
.tab {
  width: 175px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.tab:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.tab:focus {
  outline: none;
}

.tab.ani {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
 </style>
 </head>
 <body style="background-color:#212123">

<a href="{{ url_for('index') }}"> < Back</a>
<div align="right">
<form class ="form" method ="post" action ="/index/monitorlog/filter"> 
  <label for="filter">Filter </label>

<select name="selectfilter" id="selectfilter">
  <option value="User_email"> User email </option>
  <option value="Date"> Date </option>
  <option value="Topic"> Topic </option>
</select>
            <input type="text" placeholder="Filter search" name="filter" value = "{{filtertext}}">

<input type="submit" value="Submit"  class="bn632-hover bn25"> 
</form>
</div>
<div class="Main">
	<table>
		<tr>
			<td colspan="3">
				<h1>Notifications</h1>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{{ url_for('notification') }}"><input type="submit" value="Unread Messages"  class="tab ani">  </a>
			</td>
			<td>
				<a href="{{ url_for('history_notification') }}"><input type="submit" value="History"  class="tab ani">  </a>
			</td>
			<td>
				<input type="submit" value="Important Messages"  class="tab ani"> 
			</td>
		</tr>

		<tr>
			<td colspan="3">
				<div>

						{% for i in data_dict %}
						Date: {{i.Date }} {{i.Time}}
					Triggered by : {{i.Email}} 
            
					
					<p> <strong>Alert: {{ i.Message }} </strong> </p>
				</div>
			{% endfor %}
			</td>
		</tr>
	</table>
		  

  		

 </div>

        <center> <a href="{{ url_for('read_all') }}">  I have read all notifications</a>   </center>
</body>

</html>
