//Notification page

<html>
<head>
 <title>Notifications</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <style>
.Main
{
	float:center;
	width:50%;
	margin:auto;
	justify-content:center;
}

a
{
	color:cyan;
	text-decoration: none;
	font-size:20px;
}
.Main table
{
	color:white;
	width:100%;
	text-align:center;
}
.TopicData
{
	width:100%;
	border-collapse: collapse;
}
.TopicData td , th
{
	border: 1px solid white;

}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
 </style>
 </head>
 <body style="background-color:#212123">

<a href="{{ url_for('index') }}"> < Back</a>

<div class="Main">
	<table>
		<tr>
			<td>
				<h1>Notifications</h1>
				<button> <a href="{{ url_for('history_notification') }}"> History</a> </button>
				</br>
			</td>
			

		<div>
		  </p>
		  </tr>
		 
		 
  		{% for i in data_dict %}
  		<tr>
          <td>
          <p><strong> Notification from : {{i.Email}} </strong> 
            
			 
			 Message: {{ i.Message }} Date: {{i.Date }}</p>
			 </td>
</div>
		{% endfor %}
       


		</tr>
	</table>
		  

  		

 </div>
</br>
  <center> <a href="{{ url_for('read_all') }}">  I have read all notifications</a>   </center>
</body>

</html>
