
body 
{
	background-color:#00000;
}
.Banner
{
	width: 400px;
	height: 300px;
	display: block;
	margin: auto;
}

.NavBar
{
	width:100%;
	justify-content:center;
	display: flex;
	background-color: white;
	border:1px solid black; 
	border-left:none; 
	border-right:none;
}

.NavBar td
{
	width:100px;
	text-align:center;
	font-size:20px;
}

.NavBar a
{
	color:black;
	text-decoration:none;
	float:center;
}

.NavBar a:hover
{
	background-color:red;
	color:white;
}

.UserBtn
{
 	background-color:#0096FF;
 	border: none;
	color: white;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	width: 25%;
}
.UserBtn:hover
{
	background-color:#183EFA;
}
.UserTxtF
{
  	padding: 12px 20px;
  	margin: 8px 0;
 	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
	text-align: center;
	width: 50%;
}

.SC
{
	display: flex;
	justify-content:flex-end;
}

.SCBtn
{
	width:40px;
	height:40px;
	background-image:url('ShoppingCart.png');
	background-size:contain;
}

.Count
{
	color:red;
	background-color:white;
}

.Main
{
	background-color:white;
	float:center;
	width:50%;
	margin:auto;
	justify-content:center;
}

.Search
{
	float:right;
}

.Main table
{
	width:100%;
	text-align:center;
}

.ContMain 
{
	background-color:white;
	float:center;
	width:30%;
	margin:auto;
	justify-content:center;
}
.ContMain table
{
	width:100%;
	text-align:center;
}
.AlignR
{
	text-align:right;
}
.AlignF
{
	text-align:left;
}

.OFScroll
{
	width:100%;
	height:270px;
	overflow:scroll;
}

.OFScroll img , .thumbnail img
{
	width:100%;
	height:200px;
}
figcaption 
{
	background-color:#D3D3D3;
	font-style: italic;
	padding: 2px;
	text-align: center;
	font-style : bold;
	width: 200px;
	margin:auto;

}

.MOC
{
	width:250px;
}
.OOS
{
	border-collapse:collapse;
	background-color:#D3D3D3;
	color: black;
	font-style: italic;
	font-weight: bold;
}
	
.Footer
{
	background-color:white;
	float:center;
	width:6%;
	margin:auto;
	justify-content:center;
}
.Icon 
{
	width:100%;
	height:50px;
	background-color:#D3D3D3;
}
.Title
{
	text-align:center;
	font-size:30px;
}
.CartProd
{
	width: 100px;
	height: 100px;
}
.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
}
