<!DOCTYPE html>
<html>
<head>
 <title>Shopping Cart using Python Flask MySQL</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<div class="container">
    <div class="row">
  <p><h2>Shopping Cart</h2></p>
        <div class="col-sm-12">
  <div>
   {% with messages = get_flashed_messages() %}
     {% if messages %}
    <!--<ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul> -->
     {% endif %}
   {% endwith %}
  </div>
 
   <p><a id="btnEmpty" href="{{ url_for('empty_cart') }}" class="btn btn-danger">Empty Cart</a></p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
 
     {% for i in data %} 

                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                 
                            <div class="media-body">
                       <p> <strong> {{i.name}}  </strong></p> 
                                   <img src="{{ url_for('static', filename= i.img )}}" width="200" height="200">
                                   
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <strong>{{ i.quantity }} </strong>
                        
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ i.price }} </strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ i.total }} </strong></td>
                        <td class="col-sm-1 col-md-1">
  
   <form class ="form" method="post" action="/delete_item" >
   
   <input type="hidden" name="code" value="{{ i.code }}"/>
   <input type ="submit" value="Remove" class ="btn btn-danger"/>
    </form>
                        </td>
                        </tr>
                  
                    {% endfor %}
                    
                 
                     <tr>
     
                        <td colspan="4"><h5>Total Quantity</h5></td>
                        <td class="text-right"><h5><strong>{{ _total_qty}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td colspan="3"><h3>Total</h3></td>
                        <td colspan="2" class="text-right"><h3><strong>$ {{ _total_product }}</strong></h3></td>
                    </tr>
                    
                    <tr>
                        <td colspan="4">
                        <button type="button" class="btn btn-default">  <a href="{{ url_for('products') }}"</a>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-default"><a href="{{ url_for('checkout') }}"</a>
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>

   <!-- <div class="no-records">Your Cart is Empty</div> -->
   <span class="return to product"> <a href = "{{url_for('products')}}"> Return to products  </a> </span>
   
 
        </div>
    </div>
</div>
</body>
</html>
               
