<!DOCTYPE html>
<html>
<head>
 <title>Checkout page</title>
 	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
		<div>
			<img class ="Banner" src="{{ url_for('static',filename='Banner.png') }}" alt="Banner">
		</div>
						            <nav>
                
                    <a href="/cart">Back</a>
                    </li>
                
            </nav>
</head>
<body>
        </div>
        <div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
			
		</div>
  <center> <h1>Please confirm the purchase</h1></center>

 		<div class="Main">
			<table>
				<tr>
					<td>
						<h3> Order Summary <h3>
					</td>
				<tr>
					<td>
					<div>

  		{% for i in product_dict %}
  		
          
          <p><strong> Product: {{i.name }}</strong>,  Quantity: {{i.quantity}}, Unit price: ${{i.price }}, Total price: ${{i.total}} </p> 
          <br>
            
			
			
</div>
		{% endfor %}
					</td>
					<tr>
					<td>
					
					<strong>
					Total Quantity: {{total_qty}} 
					Total Price: ${{total_price}}
					</strong>
					</td>
					</tr>
					
			</table>
			<br><br><br><br><br><br><br><br>
			<table style="width:100%">
				<tr>
					<td colspan="2">
						<h3> Payment Details </h3>
					</td>
				</tr>
				
				<form class = "form" action ="/payment"> 
				<tr>
					<td colspan="2">
						Name on card :
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" id="NameOC" name="NameOC">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Credit Card Number :
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" id="CreditCard" name="CreditCard">
					</td>
				</tr>
				<tr>
					<td>
						Expiring MM/YY:
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="ExpiryDate" name="ExpiryDate">
					</td>
				</tr>
				<tr>
					<td>
						CVV Code:
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="CVV" name="CVV">
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<br>
						<input type="Submit" value="Confirm" id="SaveCC" onclick="return confirm('Confirm Order?')">
					</td>
				</tr>
				</form>
			</table>
		<div>

      
</body>

</html>
