
{% block body %}
<html>
	<head>
<script src="../static/js/jquery-1.11.2.js"></script>



		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	</head>
	<body>
		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
				            <nav>
                
                    <a href="/profilePage">Profile Page</a>
                    </li>
                
            </nav>
		<br>
		<div class="Search">
        <form class="example" method="post" action="/search" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Enter product name" name="inputSearch">
            <button type="submit">Search <i class="fa fa-search"></i>
            </button>
        </form>
		</div>
		<br>
		<br>
		<div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="ContMain">
			<form class="form" method="post" action="/send_feedback">
				<table>
					<tr>
						<td class="AlignR">
							<p>Name :</p>
						</td>
						<td>
							<input type="text" id="Name" name ="Name" required>
						</td>
					</tr>
					<tr>
						<td class="AlignR">
							<p>Email :</p>
						</td>
						<td>
							<input type="email" id="Email" name ="Email" required>
						</td>
					</tr>
					<tr>
						<td class="AlignR">
							<p>Phone Number :</p>
						</td>
						<td>
							<input type="text" id="Number" name="Number" required>
						</td>
					</tr>
					<tr>
						<td class="AlignR" required>
							<p>Message :
						</td>
						<td>
							<textarea rows="3" cols="20" id="Message" name="Message" required></textarea>
						</td>
					</tr>

					<tr>
						<td colspan="2">
						<button id="feedback" type ="submit"> 
							 Submit query</a>
							</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		</br>
		<div class="Footer">
			<table>
				<tr>
					<td>
						<a href="https://www.facebook.com/SGGIFTS65" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Fb-Logo.png') }}" alt="Facebook Logo">
						</a>
					</td>
					<td>
						<a href="https://www.instagram.com/sggifts_/" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Insta-Logo.png') }}" alt="Instagram Logo">
						</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>

{% endblock %}
