<!DOCTYPE html>
<html>
<head>
 <title>My feedbacks</title>
 	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
		<div>
			<img class ="Banner" src="{{ url_for('static',filename='Banner.png') }}" alt="Banner">
		</div>
						            <nav>
                
                    <a href="/profilePage">Profile Page</a>
                    </li>
                
            </nav>
</head>
<body>
        </div>
        <div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
			
		</div>
<div>
  <p> <h1>This are your feedback history</h1>
   
  </p>
  		{% for i in feedback_dict %}
  		
          
          <p><strong> Feedback_ID: {{i.Id }} Email: {{i.Email}} </strong> </p>
            
			<p>Date: {{i.Date }}</p>
			<p>Message: {{ i.Message}}</p>
</div>
		{% endfor %}

 

      
</body>

</html>
