<!DOCTYPE html>


<html lang="en">
 
<head>
    <title>Order history</title>
 
 	
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>

		<div>
			<img class ="Banner" src="{{ url_for('static',filename='Banner.png') }}" alt="Banner">
		</div>
			<div class ="msg" align = "center">
			{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
       </div>
    {% endfor %}
    
    
    
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
		</div>

 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            
                
                   <a >Logged in as {{ user}}</a>
                    <br>
                    <a href="/logout">Logout</a>
                    
                   
                
            
            
        </div>
        <div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
			
		</div>
		
								<h2> Order details </h2>
					
						

						 {% for j in details_list %}
						 <p> Order ID: {{j.orderid}}, Product name: {{j.Product_name}} , Code: {{j.Code}}, Qty: {{j.Quantity}} Unit price:{{j.Unit_price}} </p>
						
						
						{% endfor %}
					
 <div style=" margin:auto;justify-content:left; width:100%; display:flex; float:left;">
				<div class="ContMain"style="border-style:outset; width:15%;">
					<table style="width=100%; text-align:center">
					
						<tr>
							<td colspan="2">


						
						

			</div>
		</div>
        <div>
        		<center>
            <a href="/cart">Go to cart</a> 
            
            <a href="/myfeedback/">My past feedback</a>
            </center>

            
        

            
            
           <!-- <h1>Hello  posts.index !</h1>-->
            
            
 			
 			
        </div>
 
 
        <footer class="footer">
            <p></p>
        </footer>
 
    </div>
</body>
 
</html>

