<html>
	<head>
		<link rel="stylesheet" href="style.css"></link>
	</head>
	<body>
		<a href="{{ url_for('cartpage') }}">< Back</a>
		<div class="Main">
			<table>
				<tr>
					<td>
						<h3> Order Summary <h3>
					</td>
				<tr>
					<td>
					</td>
			</table>
			<br><br><br><br><br><br><br><br>
			<table style="width:100%">
				<tr>
					<td colspan="2">
						<h3> Payment Details </h3>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Name on card :
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" id="NameOC" name="NameOC">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Credit Card Number :
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="text" id="CreditCard" name="CreditCard">
					</td>
				</tr>
				<tr>
					<td>
						Expiring MM/YY:
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="ExpiryDate" name="ExpiryDate">
					</td>
				</tr>
				<tr>
					<td>
						CVV Code:
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" id="CVV" name="CVV">
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<br>
						<input type="Submit" value="Confirm" id="SaveCC" onclick="return confirm('Confirm Order?')">
					</td>
				</tr>
			</table>
		<div>
	</body>
</html>
