
<!DOCTYPE html>
<html>
<head>
 <title>Product page</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
	            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/profilePage">Profile Page</a>
                    </li>
                </ul>
            </nav>
		<br>
		<div class="Search">
        <form class="example" method="post" action="/search" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Enter product name" name="inputSearch">
            <button type="submit">Search <i class="fa fa-search"></i>
            </button>
        </form>
		</div>
		<br>
		<br>
		<div>
			<table class="NavBar"style="justify-content:center;">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            		
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
			</div>
			<table class="SC">
				<tr>
					<td>
						<a href ="/cart/">
							<button class="SCBtn">
							</button>
						</a>
					</td>
					<td>
					 <a id ='totalcart'> </a> 
					
					</td>
				</tr>
			</table>
			

<section class="our-publication pt-100 pb-70">
            <div class="container">
                <div class="section-header">
                   <!-- <i class="fa fa-book"></i>-->
                    <h2>Our Products</h2> 
                    <!-- <p>Our products</p> -->
                </div>
                 
                <div class="row">
               {% for product in products %}
                    <div class="col-sm-6 col-lg-3"> 
      	<form method="post" action="/addcart">
                        <div class="thumbnail">
                            <figure style="width:263px;">
                                <a href="#">
                                    <img src="/static/{{ product.image }}">
                                </a>

                            </figure>
 
                            <div class="publication-content">
                                
                                <h3><a href="#">{{ product.name }}</a>
                                </h3>
								<br>
                                <h4 class="price">$ {{ product.price }}</h4>
                            </div>
 
                            <div class="add-to-cart">
        <input type="hidden" name="code" value="{{ product.code }}"/>
        <input type="text" class="product-quantity" name="quantity" value="1" size="2" />
        <input type="submit" value="Add to Cart" class="default-btn" />
        <br>
                            </div>
                        </div>
      </form>
                    </div>
                {% endfor %}    
                     
                </div>
            </div>
        </section>
<style>
.pt-100 {
                padding-top: 100px;
            }
            .pb-70 {
                padding-bottom: 70px;
            }
            .section-header {
                margin-bottom: 60px;
                text-align: center;
            }
            .section-header i {
                color: #ff007d;
                font-size: 50px;
                display: inline-block;
                margin-bottom: 10px;
            }
            .section-header h2 {
                font-weight: bold;
                font-size: 34px;
                margin: 0;
            }
            .section-header p {
                max-width: 500px;
                margin: 20px auto 0;
            }
            .single-publication {
                border: 1px solid #f2eee2;
                margin-bottom: 30px;
                position: relative;
                overflow: hidden;
            }
            .single-publication figure {
                position: relative;
                margin: 0;
                text-align: center;
            }
            .single-publication figure > a {
                background-color: #fafafa;
                display: block;
            }
            .single-publication figure ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                position: absolute;
                right: -50px;
                top: 20px;
                transition: .6s;
                -webkit-transition: .6s;
            }
            .single-publication:hover figure ul {
                right: 15px;
            }
            .single-publication figure ul li a {
                display: inline-block;
                width: 35px;
                height: 35px;
                text-align: center;
                font-size: 15px;
                background: #ff007d;
                margin-bottom: 7px;
                border-radius: 50%;
                line-height: 35px;
                color: #fff;
            }
            .single-publication figure ul li a:hover {
                color: #fff;
                background: #e50663;
            }
            .single-publication .publication-content {
                text-align: center;
                padding: 20px;
            }
            .single-publication .publication-content .category {
                display: inline-block;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #ff007d;
                font-weight: 600;
            }
            .single-publication .publication-content h3 {
                font-weight: 600;
                margin: 8px 0 10px;
                font-size: 20px;
            }
            .single-publication .publication-content h3 a {
                color: #1f2d30;
            }
            .single-publication .publication-content h3 a:hover {
                color: #ff007d;
            }
            .single-publication .publication-content ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-bottom: 15px;
            }
            .single-publication .publication-content ul li {
                display: inline-block;
                font-size: 18px;
                color: #fec42d;
            }
            .single-publication .publication-content .price {
                font-size: 18px;
                color: #ff007d;
            }
            .single-publication .publication-content .price span {
                color: #6f6f6f;
                text-decoration: line-through;
                padding-left: 5px;
                font-weight: 300;
            }
            .single-publication .add-to-cart {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                background: #fff;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                -webkit-transform: scale(.7);
                transform: scale(.7);
                height: 105px;
                -moz-transition: .4s;
                -webkit-transition: .4s;
                transition: .4s;
            }
            .single-publication:hover .add-to-cart {
                visibility: visible;
                transform: scale(1);
                -webkit-transform: scale(1);
                opacity: 1;
            }
            .single-publication .add-to-cart .default-btn {
                margin-top: 28px;
                padding: 8px 25px;
                font-size: 14px;
            }
            .single-publication .category {
                margin: 0;
            }
            .single-publication .add-to-cart .default-btn {
                margin-top: 28px;
                padding: 8px 25px;
                font-size: 14px;
            }
            .default-btn {
                background-color: #ff007d;
                color: #fff;
                border: 1px solid #ff007d;
                display: inline-block;
                padding: 10px 30px;
                border-radius: 30px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
            }
            .default-btn:hover {
                color: #fff;
                text-decoration: none;
            }
</style>  
</body>

<script>
  $.ajaxSetup({ cache: false });
  $(document).ready(function () {
   $(function update_cartcount() {
      $.get('/count_cart', function (dat) {
        $("#totalcart").text(dat['number_of_cart_item']);
      });
      var interval = setTimeout(update_cartcount, 3000);
    });
  });
</script>

</html>

